%h1 Products

%table
  %thead
    %tr
      %th Name
      %th Count
      %th Sum
  %tbody
    - for product in @overview
      %tr
        %td= product['name'] || product['ean']
        %td= product['count']
        %td= (product['count'] * product['price'])
    %tr
      %td
        %strong Total
      %td
        %strong= (@overview.inject(0) { |sum, e| sum + e['count'] })
      %td
        %strong= (@overview.inject(0) { |sum, e| sum + (e['count'] * e['price']) })
%h1 Order history

%table
  %thead
    %tr
      %th Date
      %th Name
  %tbody
    - for order in @orders
      %tr
        %td= Time.at(order['time'] / 1000)
        %td= order['name'] || order['ean']

